<header>
    <h3>ROUTE 5</h3>
</header>
<main>
    <article class="article">
        <h5 class="head">Data from static JSON</h5>
        <section>
            <table matSort (matSortChange)="sortData($event, 'student')">
                <tr>
                    <th *ngFor="let header of getHeaders()" mat-sort-header="{{header}}">{{header | titlecase}}</th>
                </tr>
                <tr *ngFor="let student of sortedData">
                    <td  *ngFor="let header of getHeaders()">{{student[header]}}</td>
                </tr>
            </table>
        </section>
    </article>

    <article *ngIf="employeDetails && employeDetails.length > 0" class="article">
        <h5>Data from API</h5>
        <section>
            <table matSort (matSortChange)="sortData($event, 'employee')">
                <tr>
                    <th *ngFor="let header of getHeadersForEmployeeTable()" mat-sort-header="{{header}}">{{header.replace('_',' ') | titlecase}}</th>
                </tr>
                <tr *ngFor="let student of sortedEmployeDetails">
                    <td  *ngFor="let header of getHeadersForEmployeeTable()">{{student[header]}}</td>
                </tr>
            </table>
        </section>
    </article>
</main>


