.mat-sort-header-container {
    align-items: center;
    text-align: center;
}
td,th {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
.article {
    padding-bottom: 20px;
}