<header>
    <h3>ROUTE 4: Using Service and Subject</h3>
</header>
<main class="pt-3">
    <section class="border-black">
        <div class="timer-components">
            <div class="each-component border-black">
                <app-component1></app-component1>
            </div>
            <div class="each-component border-black">
                <app-component2 ></app-component2>
            </div>
        </div>
        <div class="timer-components">
            <div class="each-component">
                <app-component3></app-component3>
            </div>
            <div class="each-component">
                <app-component4></app-component4>
            </div>
        </div>
    </section>
</main>
