<header>
    <h3>ROUTE 1</h3>
</header>
<main>
    <section>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div class="banner-div">
                                                <h5 id="scroll-text">A floating banner text which keeps on rotating    |    A floating banner text which keeps on rotating</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>